/* BACKGROUND */
.background { 
    background-color: rgba(30, 144, 255, 0.7);
}

.overlay {
    /* Change this image to be the one you want... */
    background-image: url('../images/template_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html {
    text-align: center;
}

/* FONTS */
h1, h2, h3, h4, h5 {
    font-family: 'Overpass', monospace;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

.marker {
    font-family: 'Permanent Marker', cursive;
}

/* FONT SIZES */
h1 {font-size: 325%;}
h2 {font-size: 200%;}
p {font-size: 100%;}

/* block1 and block2 */
.block1, .block2 {
    padding: 2%;
    color: white;
}

.block1 {background-color: rgba(0, 0, 0, 0.8)}
.block2 {background-color: rgba(14, 14, 14, 0.8);}

/* LINK FORMATTING */
a:visited, a:link {
    color: #56beff;                                  /*ACCENT COLOUR HERE*/
}

a:hover {
    text-decoration: underline !important;
    text-decoration-color: #56beff !important;       /*ACCENT COLOUR HERE*/
}

.navbar a:visited, .navbar a:link, footer a:visited, footer a:link {
    color: whitesmoke !important;  
}

.navbar a:hover {
    text-decoration: underline !important;
    text-decoration-color: #56beff !important;       /*ACCENT COLOUR HERE*/
}

/* NAVBAR */
.navbar {
    background-color:rgb(4, 0, 27) !important;
    padding-bottom: 1%
}

.active {
    text-decoration: underline !important;
    text-decoration-color: #56beff !important;       /*ACCENT COLOUR HERE*/
}

/* FOOTER */
.footer {
    color: white;
    text-align: center;
}

/* FOOTER */
#socialicons, #navigation-div {
    width: 100%;
    padding: 1%;
}

#socialicons {
    height: 5em !important;
    padding-top: 2%;
    padding-bottom: 2%;
}

#mini-contact {
    padding-top: 1%;
    margin-top: 0px;
}

.footer h4 {
    color: #4292c4;                                  /*ACCENT COLOUR HERE (SLIGHTLY DARKER)*/
}

/* ICONS */
#social-icons {
    text-align: center;
}

.icon-div {
    /* background-color: rgb(0, 0, 0); */
    height: 35px;
    width: 35px;
    float: left;
}

i {
    margin-right: 1%;
    padding-bottom: 0.2%;
}

i:hover {
    border-bottom: #56beff 2px solid;                /*ACCENT COLOUR HERE*/  
}

/* EMPHASIS */
.emph {
    text-decoration: underline !important;
    text-decoration-color: #56beff !important;       /*ACCENT COLOUR HERE*/
}

.emph2 {
    color: #56beff;                                  /*ACCENT COLOUR HERE*/                     
}

.border-emph {
    border: #56beff 2px solid;                       /*ACCENT COLOUR HERE*/
}


/* MISC */
::selection {
    background: black; /* WebKit/Blink Browsers */
  }


/* OLD ICON FORMATTING */
/* .icon {
    height: 2%;
    width: 2%;
}

#ig {
    height: 100% !important;
    width: 100% !important;
}

#first {
    margin-top: 20% !important;
    margin-left: 10% !important;
    height: 60% !important;
    width: 100% !important;
    overflow: auto;
}

#tba {
    height: 100% !important;
    width: 65% !important;
    margin-right: -10%;
} */
