.hero-small {
    min-height: calc( 55vh - 50px );
}

.about-subtitle {
    font-family: "Lato";
    font-weight: 600;
}

.about-paragraph {
    font-size: 1.3em;
    line-height: 1.6em;
}

.about-image {
    height:300px;
}