.overlay {
    /* Change this image to be the one you want... */
    background-image: url('../images/home_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* END BACKGROUND */

.ack p {
    padding-left: 0%;
    padding-right: 5%;
    margin-left: 34%;
    text-align: left;   
    padding-top: 0.75%;
    padding-right: 12%;
}

.ack img {
    margin-left: 12%;
    border: rgba(0, 35, 80, 0.404) 2px solid;
    border-radius: 50%;
}