.overlay {
    /* Change this image to be the one you want... */
    background-image: url('../images/home_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* BLACK TEXT LOGOS ARE TOO FAINT AGAINST THE DEFAULT BLOCK1 BACKGROUND */
.block1 {background-color: rgba(15, 15, 15, 0.8) !important;}
.block2 {background-color: rgba(26, 26, 26, 0.8) !important;}

.block1 div img, .block2 div img {
    transition: all 0.08s;
}

.size {
    width: 50%; 
    margin-left: 25%;
}

.size img {
    width: 90%;
}

#gold div img {
    width: 80%;
}

#silver div img {
    width: 60%;
}

/* SPECIFIC LOGO FORMATTING */

.size #hatch {
    margin-top: 6%;
    width: 80% !important;
    margin-bottom: 5%;
}

.size #first {
    width: 40%;
}

.size #snc-lavalin {
    width: 70%;
}

