.background { 
    background-color: rgba(184, 30, 255, 0.7);
}

.overlay {
    /* Change this image to be the one you want... */
    background-image: url('../images/home_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.navbar {
    background-color:rgb(27, 0, 25) !important;
}

/* END BACKGROUND */
#splash {
    padding-top: 10%;
    padding-bottom: 10%;
}

#flipper {
    padding-bottom: 6%;
}

#chassis {
    padding-bottom: 0%;
}

#design {
    padding-bottom: 7%;
}