<div class="container">
	<h2 class="title">Directions</h2>

	<p class="font-weight-bold">We are located at:</p>
	<p>727 Templeton Dr.</p>
	<p>Vancouver, BC V5L 4N8</p>
	<p>Canada</p>

	<hr>

	<p>Phone: (604) 713-8984</p>
	<p>Email: templeton7190(at)gmail.com</p>

	<div class="embed-responsive embed-responsive-16by9">
		<iframe src="https://www.google.com/maps/embed/v1/place?q=Templeton%20Secondary%20School&key=AIzaSyDqWhfdZcVA0X2836DuBC4HYP0Jc7LYy8k" frameborder="0" class="embed-responsive-item"></iframe>
	</div>
</div>
