<!-- Sponsors -->
<div class="container">
	<h2 class="title">Our Wonderful Sponsors!</h2>

	{{ $sponsors := .Site.Data.sponsors }}

	{{ range $i, $sequence := (seq 0 3 (len $sponsors)) }}
		<div class="row text-center d-flex flex-wrap align-items-center mb-3">
			{{ range $j, $_ := (seq 3) }}
				<div class="col-md-4">
					{{ $e := index $sponsors (add $sequence $j) }}
					{{ if $e.logo }}
						<img src={{$e.logo}} alt={{$e.name}} class="img-fluid">
					{{ else }}
						<h3>{{$e.name}}</h3>
					{{ end }}
				</div>
			{{ end }}
		</div>
	{{ end }}
</div>
