<!DOCTYPE html>

<html lang="en">
<head>
	{{ partial "meta.html" }}

	<title>{{ .Title }}</title>

	<style>
		.hero {
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{ .Site.Data.images.hero}}");
			background-size: cover;
		}
	</style>
</head>
<body>
	<!-- Navigation -->
	{{ partial "navigation.html" }}

	<!-- Jumbotron -->
	{{ partial "hero.html" . }}

	<!-- Content -->
	<div class="container">
		<h2 class="title">About Us</h2>
		<div class="row">
			<div class="col-md-6">
				<img src="{{ .Site.Data.images.about}}" alt="Team Photo" class="img-fluid" />
			</div>
			<div class="col-md-6">
				<p class="lead">{{ .Content }}</p>
			</div>
		</div>
	</div>

	<hr>

	{{ partial "sponsors.html" . }}

	<hr>

	{{ partial "media.html" }}

	<hr>

	{{ partial "directions.html" }}

	<!-- Footer -->
	{{ partial "footer.html" }}
</body>
</html>
